<div class="header center">Anmeldung</div>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <mat-form-field>
    <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
  </mat-form-field>

  <mat-error class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
    {{ errorMessage }}
  </mat-error>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Anmelden</button>
  </div>

</form>
