<mat-toolbar class="main-toolbar" color="primary">
    <mat-toolbar-row>
<!--        <button mat-icon-button>-->
<!--        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>-->
<!--        </button>-->
        <h1>Fotos</h1>
        <span class="menu-spacer"></span>
        <a mat-button [routerLink]="''">Fotos</a>
        <button mat-button [matMenuTriggerFor]="menu">
          <app-user-context></app-user-context>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>
