<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="50%" fxFlex.lt-md="100%"  fxLayoutAlign="stretch">
      <mat-card class="mat-elevation-z4">
        <table class="mat-table" *ngIf="photoMeta">
          <tr class="mat-row">
            <th class="mat-header-cell">Name</th>
            <td class="mat-cell">{{ photoMeta.name }}</td>
          </tr>
          <tr class="mat-row">
            <th class="mat-header-cell">Aufgenommen</th>
            <td class="mat-cell">
              {{ photoMeta.timestamp | date: "medium" : 'CET' : 'de-DE' }}
            </td>
          </tr>
          <tr class="mat-row">
            <th class="mat-header-cell">Geladen</th>
            <td class="mat-cell">
              {{ photoMeta.uploaded | date: "medium" : 'CET' : 'de-DE' }}
            </td>
          </tr>
          <tr class="mat-row">
            <th class="mat-header-cell">Geladen von</th>
            <td class="mat-cell">
              <app-user-get [userUrl]=photoMeta.uploaded_by.toString()></app-user-get>
            </td>
          </tr>
          <tr class="mat-row">
            <th class="mat-header-cell">Ort</th>
            <td class="mat-cell">{{ photoMeta.address.formatted }}</td>
          </tr>
          <tr class="mat-row">
            <th class="mat-header-cell">Ereignis</th>
            <td class="mat-cell">
              <app-event-get [eventUrl]=photoMeta.event.toString()></app-event-get>
            </td>
          </tr>
          <tr class="mat-row">
            <th class="mat-header-cell">Tags</th>
<!--            <td class="mat-cell">{{ photoMeta.tags }}</td>-->
            <td class="mat-cell">
              <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
                <mat-chip *ngFor="let tag of photoMeta.tags">
                  <app-tag-get [tagUrl]="tag.toString()"></app-tag-get><br/>
                </mat-chip>
              </mat-chip-list>
            </td>
          </tr>
        </table>
        <div class="buttons">
          <a mat-flat-button href="" class="mat-row-link" color="primary">Zurück</a>
        </div>
      </mat-card>
    </div>

    <div fxFlex="50%" fxFlex.lt-md="100%"  fxLayoutAlign="stretch">
      <mat-card class="mat-elevation-z4" *ngIf="photoMeta">
        <img src="http://localhost:8000/media/{{ photoMeta.imagefile }}" alt="{{ photoMeta.name}}"/>
      </mat-card>
    </div>
  </div>

</div>
